<div class="main">
    <h1>Add Task</h1>
    <mat-card class="addTask_Card" appearance="outlined">
        <mat-card-content>
            <form class="addTask_Form" action="">
                <div class="left_Card">
                    <mat-form-field>
                        <mat-label>Title</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Description</mat-label>
                        <textarea matInput></textarea>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Select</mat-label>
                        <mat-select>
                            <mat-option value="one">First option</mat-option>
                            <mat-option value="two">Second option</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="right_Card">
                    <mat-form-field>
                        <mat-label>Input</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Assigned To</mat-label>
                        <mat-select>
                            <mat-option value="one">First option</mat-option>
                            <mat-option value="two">Second option</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Textarea</mat-label>
                        <textarea matInput></textarea>
                    </mat-form-field>
                </div>

            </form>
        </mat-card-content>
    </mat-card>

</div>