<div class="main">
    <div class="content-container">
        <div class="container" id="content">
            <div class="board_window">
                <div class="frame-40">
                    <span>Join 360</span>
                    <svg class="img2" width="4" height="63" viewBox="0 0 4 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path id="Vector 5" d="M2 2V61" stroke="#29ABE2" stroke-width="3" stroke-linecap="round" />
                    </svg>
                    <p>Key Metrics at a Glance</p>
                    <svg class="img1" width="94" height="4" viewBox="0 0 94 4" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M92 2L2 2" stroke="#29ABE2" stroke-width="3" stroke-linecap="round" />
                    </svg>
                </div>
                <div class="summary_helper">
                    <div class="frame-71">
                        <div class="frame-65">
                            <a class="pencil-rectangle-button-v1" href="./board.html">
                                <div class="frame-59">
                                    <div class="todo_picture"></div>
                                </div>
                                <div class="frame-62">
                                    <span id="summ-tasks-todo"></span>
                                    <p>To-do</p>
                                </div>
                            </a>
                            <a class="cheack-reactangle-button-v1" href="./board.html">
                                <div class="frame-59">
                                    <div class="done_picture"></div>
                                </div>
                                <div class="frame-60">
                                    <span id="summ-tasks-done"></span>
                                    <p>Done</p>
                                </div>
                            </a>
                        </div>
                        <a class="urgency-summary-v1" href="./board.html">
                            <div class="frame-67">
                                <div class="frame-59">
                                    <div class="circle">
                                        <svg width="35" height="26" viewBox="0 0 35 26" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <g id="Prio alta" clip-path="url(#clip0_127015_2574)">
                                                <g id="Capa 2">
                                                    <g id="Capa 1">
                                                        <path id="Vector"
                                                            d="M32.8709 25.1626C32.4699 25.1633 32.0792 25.0337 31.7563 24.7929L17.6511 14.263L3.54584 24.7929C3.34781 24.941 3.1229 25.0482 2.88394 25.1084C2.64497 25.1685 2.39664 25.1805 2.15312 25.1435C1.9096 25.1066 1.67566 25.0214 1.46465 24.893C1.25365 24.7645 1.06971 24.5953 0.923347 24.3949C0.776981 24.1945 0.671052 23.9669 0.611608 23.7251C0.552165 23.4832 0.54037 23.2319 0.576898 22.9855C0.65067 22.4878 0.916792 22.0402 1.31672 21.7411L16.5365 10.3677C16.8591 10.126 17.2498 9.99561 17.6511 9.99561C18.0524 9.99561 18.4431 10.126 18.7657 10.3677L33.9855 21.7411C34.3033 21.9781 34.5389 22.3106 34.6588 22.6912C34.7788 23.0718 34.7768 23.481 34.6532 23.8604C34.5296 24.2398 34.2907 24.57 33.9706 24.8039C33.6506 25.0377 33.2657 25.1633 32.8709 25.1626Z"
                                                            fill="white" />
                                                        <path id="Vector_2"
                                                            d="M32.8708 15.2109C32.4697 15.2116 32.0791 15.082 31.7562 14.8413L17.651 4.31139L3.54572 14.8413C3.1458 15.1404 2.64482 15.2665 2.15301 15.1919C1.6612 15.1172 1.21883 14.8479 0.923233 14.4432C0.627633 14.0385 0.503012 13.5315 0.576784 13.0339C0.650556 12.5362 0.916678 12.0885 1.31661 11.7894L16.5364 0.415997C16.859 0.174366 17.2497 0.0439453 17.651 0.0439453C18.0523 0.0439453 18.443 0.174366 18.7655 0.415997L33.9854 11.7894C34.3031 12.0264 34.5388 12.359 34.6587 12.7396C34.7786 13.1202 34.7767 13.5294 34.6531 13.9088C34.5295 14.2882 34.2906 14.6184 33.9705 14.8522C33.6505 15.0861 33.2656 15.2116 32.8708 15.2109Z"
                                                            fill="white" />
                                                    </g>
                                                </g>
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_127015_2574">
                                                    <rect width="34.186" height="25.1163" fill="white"
                                                        transform="translate(0.558105 0.0463867)" />
                                                </clipPath>
                                            </defs>
                                        </svg>
                                    </div>
                                </div>
                                <div class="frame-63">
                                    <span id="summ-tasks-urgent"></span>
                                    <p>Urgent</p>
                                </div>
                            </div>
                            <svg width="2" height="106" viewBox="0 0 2 106" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path id="Vector 5" d="M1 1.98828V104.011" stroke="#D1D1D1" stroke-width="2"
                                    stroke-linecap="round" />
                            </svg>
                            <div class="frame-68">
                                <span id="summ-upcoming"></span>
                                <p id="urgent-tasks">Upcoming Deadline</p>
                            </div>
                        </a>
                        <div class="frame-64">
                            <a class="square-button-v1" href="./board.html">
                                <div class="frame-61">
                                    <span id="summ-tasks-board"></span>
                                    <p>
                                        Tasks in<br />
                                        Board
                                    </p>
                                </div>
                            </a>
                            <a class="square-button-v1" href="./board.html">
                                <div class="frame-61">
                                    <span id="summ-tasks-progress"></span>
                                    <p>
                                        Tasks In<br />
                                        Progress
                                    </p>
                                </div>
                            </a>
                            <a class="square-button-v1" href="./board.html">
                                <div class="frame-61">
                                    <span id="summ-tasks-feedback"></span>
                                    <p>
                                        Awaiting<br/>
                                        Feedback
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="frame-69">
                        <span class="header-text" id="summary-greeting"></span>
                        <span class="footer-text" id="summary-fullname"></span>
                    </div>
                    <div id="frame-69_responsiv" class="frame-69_responsiv frame-69_responsiv_background">
                        <span class=" header-text" id="summary-greeting-resp"></span>
                        <span class="footer-text" id="summary-fullname-resp"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>