<form class="frame-153" id="frame-153" onsubmit (ngSubmit)="signup1()" method="post">
    <div class="arrow-left-line arrow_position" routerLink="login">
        <svg  src="./img/arrow-left-line.svg" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
            <path
                d="M10.4373 14.6667H25.3333C26.0696 14.6667 26.6666 15.2637 26.6666 16.0001C26.6666 16.7364 26.0696 17.3334 25.3333 17.3334H10.4373L16.6466 23.5427C17.1672 24.0634 17.1672 24.9074 16.6466 25.4281C16.126 25.9487 15.2819 25.9487 14.7613 25.4281L6.74746 17.4143C5.96642 16.6332 5.96642 15.3669 6.74747 14.5858L14.7613 6.57206C15.2819 6.05144 16.126 6.05144 16.6466 6.57206C17.1672 7.09268 17.1672 7.93677 16.6466 8.45739L10.4373 14.6667Z"
                fill="#29ABE2" />
        </svg>    
    </div>
    <div class="frame-159">
        <div class="text-wrapper">Sign up</div>
        <svg width="154" height="3" viewBox="0 0 154 3" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path id="Vector 5" d="M152 1.5L2 1.5" stroke="#29ABE2" stroke-width="3" stroke-linecap="round" />
        </svg>
    </div>
    <mat-form-field color="primary" appearance="outline">
        <mat-label>User</mat-label>
        <input type="text" name="username" matInput placeholder="User" [(ngModel)]="username" required>
        <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
    <mat-form-field color="primary" appearance="outline">
        <mat-label>Email</mat-label>
        <input type="text" name="email" matInput placeholder="Email" [(ngModel)]="email" required>
        <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
    <mat-form-field color="primary" appearance="outline">
        <mat-label>Password</mat-label>
        <input name="password" [(ngModel)]="password" required matInput [type]="hide() ? 'password' : 'text'" />
        <mat-icon mat-icon-button matSuffix (click)="clickEvent($event); false;" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()">{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <mat-form-field color="primary" appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input name="passwordChecker" [(ngModel)]="passwordChecker" required matInput
            [type]="checkhide() ? 'passwordChecker' : 'text'" />
        <mat-icon mat-icon-button matSuffix (click)="clickEventcheck($event); false;"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="checkhide()">{{checkhide() ? 'visibility_off' :
            'visibility'}}</mat-icon>
    </mat-form-field>
    <mat-checkbox name="accept" color="primary" [(ngModel)]="accepted" required>
        <div class="text-wrapper-2">
            I accept the
            <a routerLink="ext_privacy" target="_blank">
                Privacy policy
            </a>    
        </div>
    </mat-checkbox>
    <div class="frame-176">
        <div (click)="signup1(); false" class="button-wrapper">
            <button class="button-3" type="submit" color="primary">Sign up</button>
        </div>
    </div>
</form>