<div class="main">
    <div class="task-comp-bg d-none" id="msgBox-bg">
        <div class="task-comp">
            <span id="msgBox" class="task-comp-text"></span>
        </div>
    </div>
    <main w3-include-html="./templates/sidebar.html"></main>
    <nav w3-include-html="./templates/header.html"></nav>
    <div id="main_content" class="content-container">
        <div class="container" id="content">
            <h1 class="text-wrapper">Legal Notice</h1>
            <br /><br />
            <h2>Legal Notice according to § 5 TMG</h2>
            <br />
            <h2>Contact</h2>
            <p>
                Luft Alexander<br />
                Arnold-Schönbergstr.14<br />
                66955 Pirmasens
            </p>
            <br>
            <p>Phone:</p><a href="tel:+49017670814014">0176 70 81 40 14</a>
            <br>
            <p>E-Mail:</p><a href="mailto:luft.luft86@googlemail.com">luft.luft86&#64;gmail.com</a>
            <br />
        </div>
    </div>
</div>